@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(../img/fondoban.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    width: 95%;
}
.imgCar{
    height:20rem;
}

.margen{
    margin:5rem auto auto auto;
    width:75%;
}
.textImg{
    background-color:white;
    font-size: 1.5rem;
}
.tabla{
    background-color: white;
}
.imgCard{
    width:1rem;
    border-radius: 100%;
}
.anchoimgN{
    width:20rem;
}
.contenedorSal{
    margin: auto;
    width:70%;
}

#imgSal{
    width: 100%;
}
.contenedorTabla{
    align-content: center;
    width: 100%;
    align-content: center;
}

.tablaC{
    margin: auto;
    background-color: white;
    width: 60%;
    height: 250px;
    border: 1px solid black;
}


